body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(171, 188, 193);
}

.App {
  border-radius: 8px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}


.inline-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin-bottom: 20px;
}

.inline-buttons .list-group-item {
  width:12vw; 
  cursor: pointer;
  transition: transform 0.3s ease;
}

.inline-buttons .list-group-item:hover {
  transform: scale(1.05);
}

.inline-buttons .list-group-item {
  background: #5E5DF0;
  border-radius: 8px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 18px;
  margin-right: 10px;
  border: 0;
  margin-bottom: 10px; 
}


.description-box {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}


@media (max-width: 768px) {
  .inline-buttons {
    flex-direction: column;
    align-items: center;
  }
  
  .inline-buttons .list-group-item {
    width: 90%;
    margin-right: 0; 
  }

 
  #imgincourse {
    width: 150px;
  }
}


@media (min-width: 769px) {
  .inline-buttons {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .inline-buttons .list-group-item {
    width: 12vw; 
    font-size: 16px;
    padding: 10px 20px; 
  }

  #imgincourse {
    width: 200px;
  }
}
