body, html {
  margin: 0;
  padding: 0;
  background-color: rgb(171, 188, 193);
}

.App {
  border-radius: 8px;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
}


.inline-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  margin-bottom: 20px;
}




.description-box {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}


@media (max-width: 768px) {
  
 
  #imgincourse {
    width: 150px;
  }
}


@media (min-width: 769px) {
  

  #imgincourse {
    width: 200px;
  }
}

.inline-buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px; /* Adds space between each button/dropdown */
}

#dropdown-basic-button {
  width: 100%; /* Ensures all buttons and dropdowns take up full width */
  margin-bottom: 10px; /* Adds some spacing between each button */
}

@media (max-width: 768px) {
  .inline-buttons {
    gap: 4px; /* Smaller gap for mobile */
  }
  .inline-buttons {
    display:contents;
    flex-direction: column;
    text-align: center;
    gap: 5px; /* Adds space between each button/dropdown */
    font-size: 13px;
  }

  #dropdown-basic-button{
    font-size: 14px; /* Adjust font size for better readability */
    padding: 10px;
    width: 50vw;
    scale: 0.7;
  }
  #description-box{
    margin-left: 5%;
    margin-right: 5%;
  }
}

#about {
  padding-top: 20px;
}

h2 {
  margin-bottom: 20px; /* Adds space below the "Courses" heading */
}
