.navbar {
  background-color: transparent !important; 
}
.image-container {
  height: 100vh; 
  width: 100%; 
  overflow: hidden;
  position: relative;
  z-index: 0; 
}


.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 767px) {
  .image-container {
    height: 60vh; 
  }
  
  .image-container img {
    object-position: center center;
  }
}